@import url("https://fonts.googleapis.com/css2?family=PT+Sans&display=swap");

* {
    font-family: "PT Sans", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.leoContactDisplay {
    width: 100vw;
    height: 70px;
    display: block;
    position: fixed;
    margin: 5px;
    border-bottom: 3px solid #c0c0c0;
    display: flex;
    align-items: center;
}
.leoContactDisplay i {
    float: left;
    font-size: 35px;
    margin: 0 10px;
}
.leoPfp {
    height: 60px;
    width: 60px;
    object-fit: cover;
    border-radius: 25px;
}
.leo {
    display: inline-block;
    font-size: 1.5rem;
    color: black;
    padding: 5px 15px;
    align-self: start;
}

.msgArea {
    width: 100vw;
    height: 7vh;
    display: flex;
    background-color: #e0e0e0;
    border-bottom: 1.5px solid #c0c0c0;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 0;
}
.msgbar {
    width: 85%;
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.5;
}
.sendBtn i {
    font-size: 25px;
}
.sendBtn {
    background: transparent;
    border: none;
    margin: 0 20px;
}
.msgbox {
    background: transparent;
    border: none;
    outline: none;
    height: 100%;
    width: 80%;
    background: #f0f0f0;
    border-radius: 10px;
    border: 3px solid #58cc02;
    color: whitesmoke;
    font-size: 1.5rem;
    padding-left: 1.5rem;
}